@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    background-color: #3F86D9;
    width: 100%;
    display: flex;
    justify-content: center;
}
/* 
h1{
    padding: 40px;
} */

.container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
}

.coins {
    display: flex;
}

.my-profile {
    display: flex;
    text-decoration: none;
}

.header-welcome {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 45px 0px;
}

.header-navbar-text {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 0px 20px;
}

.line{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.column{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.column1{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 30px;
}

.line-title{
    width: 230px;
    display: flex;
    height: 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}


.car-name,
.car-year {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    /* text-align: center; */
}
/* 
.car-name {
    margin-top: 15px;
} */
.car {
    margin-top: 30px;
    width: 260px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 auto; */
    /* border: 3px #3F86D9 solid; */
    border-radius: 25px;
}
.car-year {
    margin-bottom: 15px;
}

.car-image {
    width: 250px;
    margin-bottom: 15px;
}

.car-daily {
    font-size: 20px;
    font-weight: bold;
    color: #9D9191;
    /* text-align: center; */
}

.car-address {
    font-size: 20px;
    color: #9D9191;
    margin-bottom: 15px;
    /* text-align: center; */
}

.car-button-rent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #3F86D9;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 15px;
}

h2{
    font-size: 24px;
    font-weight: bold;
    color: #9D9191;
}

.column p{
    font-size: 20px;
    color: #9D9191;
}

.column1 p{
    font-size: 20px;
    color: #9D9191;
}