@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    background-color: #3F86D9;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
}

.coins {
    display: flex;
}

.my-profile {
    display: flex;
    text-decoration: none;
}

.header-welcome {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 45px 0px;
}

.header-navbar-text {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 0px 20px;
}

.cars {
    display: flex;
    justify-content: space-between;
}

.car {
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 3px #3F86D9 solid;
    border-radius: 25px;
}

.car-name,
.car-year {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    /* text-align: center; */
}

.car-name {
    margin-top: 15px;
}

.car-year {
    margin-bottom: 15px;
}

.car-image {
    width: 250px;
    margin-bottom: 15px;
}

.car-daily {
    font-size: 20px;
    font-weight: bold;
    color: #9D9191;
    /* text-align: center; */
}

.car-address {
    font-size: 20px;
    color: #9D9191;
    margin-bottom: 15px;
    /* text-align: center; */
}

.car-button-rent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #3F86D9;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 15px;
}