@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding:0;
    margin:0;
    border:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    }


.container{
    height: 100vh;
    display: flex;
    justify-content: center ;
    align-items: center; 
    background-color: #E7ECF6;
}



.BlocoEsquerda{
    width: 520px;
    height: 846px; 
    border-radius: 30px 0px 0px 30px;
    background-color:#3F86D9;
    

}

.teste{
    width: 80%;
    height: 100%;
    margin-left: 45px;
}

.BlocoDireita{
    width: 520px;
    background-color:white;
    height: 845px;
    border-radius: 0px 30px 30px 0px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ImgEasyCarros{
    width: 170px;
    height: 90px;
    margin: 30px;
    
}

h1{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    
}

.InfoEmail{
    width: 340px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #3F86D9;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 15px;
    padding: 15px;
    /* background-image: url(../Assets/icons/icon-email.png) ; */
    background-repeat: no-repeat;
}

.InfoSenha{
    width: 340px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #3F86D9;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 15px;
    padding: 15px;
    /* background-image: url(../Assets/icons/icon-password.png); */
    background-repeat: no-repeat;
    display: flex;
}

input::placeholder{
    color: #3F86D9;
}

.containerCheckbox{
    display: flex;
    width: 340px;
    justify-content: space-between;
    margin-top: 20px;
}

.LembrarMim{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerCheckbox input{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #9D9191
}

.containerCheckbox p {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #9D9191;
}

.containerCheckbox button{
    color: #3F86D9;  
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}

.ButtonLogin{
    width: 340px;
    height: 50px;
    border-radius: 5px;
    background-color: #3F86D9;
    color: white;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 40px;
}

.ButtonLoginGoogle{
    width: 340px;
    height: 50px;
    border: 1px solid #9D9191;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #9D9191;
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContainerSemConta{
    display: flex;
    height: 230px;
    align-items: flex-end;
    font-size: 16px;
    font-weight: 400;
}

.ContainerSemConta a {
    text-decoration: none;
    color: #3F86D9;

}