@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    background-color: #3F86D9;
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    padding: 40px;
    margin-left: 270px;
}

.container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
}

.coins {
    display: flex;
}

.my-profile {
    display: flex;
    text-decoration: none;
}

.header-welcome {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 45px 0px;
}

.header-navbar-text {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 0px 20px;
    text-decoration: none;
}

.cars {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.car {
    width: 1260px;
    height: 134px;
    border-radius: 25px;
    border: 3px #3F86D9 solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.car-open {
    width: 1260px;
    height: 414px;
    border-radius: 25px;
    border: 3px #3F86D9 solid;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.car-line{
    margin-top: 20px;

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.car-image {
    width: 175px;
}

.info-line{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}